# Ignore draft notebook
draft.ipynb

# Ignore data
**/data/*
nltk_data/

# Ignore undesired file types
*.DS_Store
**/.ipynb_checkpoints
**/*.pyc

# Keep examples.csv and test set
!examples.csv
!test_oos1_down_carry_trans.csv

# Keep every .gitkeep file
!.gitkeep