# Ignore draft notebook
draft.ipynb

# Ignore data
**/data/*
nltk_data/

# Ignore undesired file types
*.DS_Store
**/.ipynb_checkpoints
**/*.pyc

# Keep examples.csv
!examples.csv

# Keep every .gitkeep file
!.gitkeep